/* Application globale de la police Fraunces */
body {
    margin: 0;
    background-color: #fff;
}

/* Header flexible et responsive */
.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 4%;
}

.logo-container {
   
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo-container img {
    width: 80px; /* Taille du logo basée sur tes captures */
    height: auto;
}

.logo-text {
    font-family: 'fraunce';
    color: #669933; /* Le vert demandé */
    font-size: 1.6rem;
    line-height: 1.1;
    font-weight: 700;
    margin: 0;
}

/* Style du Menu */
.nav-links {
    font-family: 'Montserrat Alternates', serif;
    display: flex;
    align-items: center;
    gap: 12px;
}

.nav-links a {
    text-decoration: none;
    color: #669933; /* Même vert que le logo */
    font-size: 1.2rem;
    font-weight: 400;
}

.barre {
    color: #669933;
}

/* Bannière */
.banner img {
    width: 100%;
    height: auto;
    display: block;
}

/* --- RESPONSIVE : Mobile et Tablette --- */
@media (max-width: 900px) {
    .site-header {
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }

    .logo-container {
        flex-direction: column;
        gap: 10px;
    }

    .nav-links {
        flex-wrap: wrap;
        justify-content: center;
    }

    .barre {
        display: none; /* Cache les barres verticales sur petit écran */
    }
}
