body { margin: 0; font-family: 'Montserrat Alternates', sans-serif; background: #fdfcf3; color: #7a7a7a; text-align: center; }

header { display: flex; justify-content: space-between; align-items: center; padding: 10px 5%; background: white; }
nav { color: #5b8c3d; font-weight: bold; }

.hero { height: 400px; background: url('header.png') center/cover; display: flex; align-items: center; justify-content: center; color: white; }
.hero h1 { font-family: 'Fraunces', serif; font-size: 35px; text-shadow: 2px 2px 10px rgba(0,0,0,0.5); }

.intro { padding: 50px 10%; }
.btn { background: #f2c97d; color: white; padding: 15px 30px; border-radius: 10px; text-decoration: none; font-weight: bold; display: inline-block; }

.stars { background: white; padding: 50px 0; }
.card { display: flex; align-items: center; max-width: 500px; margin: 20px auto; padding: 20px; background: #fdfcf3; border-radius: 20px; text-align: left; }
.cercle { width: 100px; height: 100px; border-radius: 50%; border: 5px solid #8cb65c; margin-right: 20px; object-fit: cover; }
.titre-vert { color: #8cb65c; font-weight: bold; }

footer { background: #5b8c3d; color: white; padding: 50px; display: flex; justify-content: center; gap: 40px; align-items: center; text-align: left; }
