/* 1. TYPOGRAPHIE ET FOND */
body { 
    margin: 0; 
    font-family: 'Montserrat Alternates', sans-serif; 
    background-color: #fdfcf3; 
    color: #7a7a7a; 
}

/* 2. HEADER (BANDEAU BLANC) */
header { 
    background: white; 
    padding: 10px 5%; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}
header img { height: 45px; }
nav { color: #5b8c3d; font-weight: 700; font-size: 13px; }

/* 3. HERO (IMAGE ET TITRE) */
.hero { 
    height: 400px; 
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('header.png') center/cover no-repeat; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
}
.hero h1 { 
    color: white; 
    font-family: 'Fraunces', serif; 
    font-size: 35px; 
    text-align: center; 
    line-height: 1.2;
}
.hero h1 strong { display: block; font-weight: 800; font-size: 42px; }

/* 4. LE BOUTON ORANGE (SABLE) */
.btn { 
    background: #f2c97d; 
    color: white; 
    padding: 15px 30px; 
    border-radius: 12px; 
    text-decoration: none; 
    font-weight: 800; 
    display: inline-block; 
    box-shadow: 0 4px 0 #d9b36a; 
    margin-top: 30px;
}

/* 5. LES CARTES (SECTION STARS) */
.stars { background: white; padding: 50px 0; margin-top: 40px; }
.card { 
    display: flex; 
    align-items: center; 
    max-width: 550px; 
    margin: 20px auto; 
    padding: 20px; 
    background: #fdfcf3; 
    border-radius: 25px; 
    text-align: left;
    box-shadow: 0 10px 20px rgba(0,0,0,0.05);
}
.circle { 
    width: 120px; 
    height: 120px; 
    border-radius: 50%; 
    border: 6px solid #8cb65c; 
    overflow: hidden; 
    margin-right: 20px; 
    flex-shrink: 0;
}
.circle img { width: 100%; height: 100%; object-fit: cover; }
.card h3 { color: #8cb65c; font-size: 18px; margin: 0; text-transform: uppercase; }

/* 6. FOOTER VERT */
footer { 
    background: #5b8c3d; 
    color: white; 
    padding: 50px; 
    display: flex; 
    justify-content: center; 
    gap: 40px; 
}
.map-img { width: 350px; border-radius: 20px; border: 4px solid white; }
