* { box-sizing: border-box; }
body { margin: 0; font-family: 'Montserrat Alternates', sans-serif; }

/* Alignement Header */
.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    background: white;
}

.logo-side {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo-side img { width: 70px; height: auto; }

.brand-text {
    color: #669933;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.1;
}

/* Style Menu */
.menu {
    display: flex;
    gap: 10px;
    align-items: center;
}

.menu a {
    text-decoration: none;
    color: #669933;
    font-weight: 400;
}

.pipe { color: #669933; }

/* Bannière */
.hero img {
    width: 100%;
    height: auto;
    display: block;
}

/* RESPONSIVE : Pour tablette et téléphone */
@media (max-width: 850px) {
    .top-bar {
        flex-direction: column;
        padding: 20px;
        gap: 20px;
    }
    
    .menu {
        font-size: 0.9rem;
        flex-wrap: wrap;
        justify-content: center;
    }

    .pipe { display: none; } /* On cache les barres sur mobile pour l'espace */
}
